body {
  margin: 0;
  font-family: Arial;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background: #1e293b;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar button {
  margin: 10px 0;
  padding: 10px;
  border: none;
  background: #334155;
  color: white;
  cursor: pointer;
}

.sidebar button:hover {
  background: #475569;
}

.main {
  flex: 1;
  padding: 20px;
  background: #f1f5f9;
}

.hidden {
  display: none;
}

.buscador {
    position: relative;
    width: 400px;
}

#buscar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.sugerencias {
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
}

.sugerencias div {
    padding: 8px;
    cursor: pointer;
}

.sugerencias div:hover {
    background: #f0f0f0;
}

.grafico {
    margin-top: 40px;
    width: 600px;
}

canvas {
    background: white;
    padding: 15px;
    border-radius: 8px;
}